@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  /* Couleurs personnalisées basées sur le Design System Heritage Private */
  --color-primary-50: #eef2ff;
  --color-primary-100: #e0e7ff;
  --color-primary-200: #c7d2fe;
  --color-primary-300: #a5b4fc;
  --color-primary-400: #818cf8;
  --color-primary-500: #021338; /* Bleu profond officiel AMS Patrimoine */
  --color-primary-600: #010d29;
  --color-primary-700: #01081a;
  --color-primary-800: #00040b;
  --color-primary-900: #000000;

  /* Couleur d'accent : Beige/Doré Heritage */
  --color-accent-50: #fdfbf7;
  --color-accent-100: #f9f5ec;
  --color-accent-200: #f1e9d1;
  --color-accent-300: #e7d8ab;
  --color-accent-400: #d6bc73;
  --color-accent-500: #a68e5e; /* Or subtil */
  --color-accent-600: #8a7348;
  --color-accent-700: #6a5738;
  --color-accent-800: #4a3d27;
  --color-accent-900: #2b2318;

  /* Typographies */
  --font-serif: 'Noto Serif', serif;
  --font-sans: 'Inter', sans-serif;
}

/* Styles globaux et overrides Nuxt UI */
@layer base {
  body {
    @apply font-sans text-slate-800 bg-white antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif text-primary-500;
  }

  /* Personnalisation des liens */
  a {
    @apply transition-colors duration-300 ease-in-out;
  }
}

@layer components {
  /* Classes utilitaires pour le style Heritage */
  .text-heritage-gold {
    color: var(--color-accent-500);
  }

  .bg-surface-low {
    background-color: #f4f4ef;
  }

  .border-heritage {
    border-color: rgba(166, 142, 94, 0.2);
  }
}
